# Ігнорувати файли середовища
.env

# Ігнорувати базу даних SQLite (якщо використовується локально)
*.sqlite3

# Ігнорувати файли налаштувань системи (наприклад, для PyCharm)
.idea/

# Ігнорувати файли кешу Python
__pycache__/
*.py[cod]

# Ігнорувати статичні та медіа файли, якщо вони генеруються
staticfiles/
media/

# Логи
*.log

# Файли для Docker, якщо вони генеруються
docker-compose.override.yml


# Terraform files
.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform-provider-aws_v5.72.1_x5.exe
